<div class="display-flex-wrap-aa">
    <a class="category-options" href="/diet">
        <div class="image-categories" style="background-image: url('/images/diet.jpg');">
            
        </div>
        <h3>
            Nutrition
        </h3>
    </a>
    <a class="category-options" href="/fitness">
        <div class="image-categories" style="background-image: url('/images/fitness.jpg');">
        
        </div>
        <h3>
            Fitness
        </h3>
    </a>
    <a class="category-options" href="/yoga">
        <div class="image-categories" style="background-image: url('/images/yoga.jpg');">
        
        </div>
        <h3>
            Yoga
        </h3>
    </a>
    <a class="category-options" href="/womenwellness">
        <div class="image-categories" style="background-image: url('/images/womenwellness.jpg');">
        
        </div>
        <h3>
            Women's <br> wellness
        </h3> 
    </a>
    <a class="category-options" href="/parenthood">
        <div class="image-categories" style="background-image: url('/images/parenthood.jpg');">
        
        </div>
        <h3>
            Parenthood
        </h3> 
    </a>
    <a class="category-options" href="/mentalhealth">
        <div class="image-categories" style="background-image: url('/images/mentalhealth.jpg');">
        
        </div>
        <h3>
            Mental <br> Well-Being
        </h3> 
    </a>
</div>
