<!DOCTYPE html>
<html lang="en">

<Head>
    <%- include('./partials/Head.ejs')%>
    <title>eGlobalDoctors | <%=title %></title>
</Head>

<body>

    <%- include('./partials/Nav.ejs')%>

       <h1>
           404 try clicking on home
       </h1>
      

        <div class="footer">
            <%- include('./partials/Footer.ejs')%>
        </div>

</body>

</html>